<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="" th:href="@{/css/gall.css}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">

  <title>Virtual Interior Design Gallery</title>
</head>
<body style="background: #f8f8ff;">
<center>
  <p><a th:href="@{/admin}"><-Go Back</a></p>
</center>
<div class="container gallery-container">

  <h1>Virtual Interior Design</h1>

  <p class="page-description text-center">A design so unique created just for you!</p>

  <div class="tz-gallery">

    <div class="row">

      <div class="col-sm-12 col-md-4">
        <a class="lightbox" href="https://e0.pxfuel.com/wallpapers/703/473/desktop-wallpaper-interior-miscellanea-miscellaneous-design-furniture-living-room-fireplace.jpg">
          <img src="https://e0.pxfuel.com/wallpapers/703/473/desktop-wallpaper-interior-miscellanea-miscellaneous-design-furniture-living-room-fireplace.jpg" alt="Bridge">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="https://e0.pxfuel.com/wallpapers/276/578/desktop-wallpaper-interior-miscellanea-miscellaneous-house-design-room-style-kitchen.jpg">
          <img src="https://e0.pxfuel.com/wallpapers/276/578/desktop-wallpaper-interior-miscellanea-miscellaneous-house-design-room-style-kitchen.jpg" alt="Park">
        </a>
      </div>

      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="https://e0.pxfuel.com/wallpapers/624/959/desktop-wallpaper-interior-miscellanea-miscellaneous-design-dining-room-kitchen.jpg">
          <img src="https://e0.pxfuel.com/wallpapers/624/959/desktop-wallpaper-interior-miscellanea-miscellaneous-design-dining-room-kitchen.jpg" alt="Park">
        </a>
      </div>

      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="https://e0.pxfuel.com/wallpapers/834/641/desktop-wallpaper-living-room-stylish-interior-design-arabic-style-modern-interior-design-living-room-ideas.jpg">
          <img src="https://e0.pxfuel.com/wallpapers/834/641/desktop-wallpaper-living-room-stylish-interior-design-arabic-style-modern-interior-design-living-room-ideas.jpg" alt="Park">
        </a>
      </div>

      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="https://e0.pxfuel.com/wallpapers/440/213/desktop-wallpaper-living-room-country-house-stylish-interior-design-scandinavian-style-modern-interior-living-room-idea.jpg">
          <img src="https://e0.pxfuel.com/wallpapers/440/213/desktop-wallpaper-living-room-country-house-stylish-interior-design-scandinavian-style-modern-interior-living-room-idea.jpg" alt="Park">
        </a>
      </div>

      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="https://e0.pxfuel.com/wallpapers/968/814/desktop-wallpaper-interior-miscellanea-miscellaneous-design-furniture-living-room.jpg">
          <img src="https://e0.pxfuel.com/wallpapers/968/814/desktop-wallpaper-interior-miscellanea-miscellaneous-design-furniture-living-room.jpg" alt="Park">
        </a>
      </div>

      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="https://c4.wallpaperflare.com/wallpaper/406/269/78/outdoor-living-room-picture-wallpaper-preview.jpg">
          <img src="https://c4.wallpaperflare.com/wallpaper/406/269/78/outdoor-living-room-picture-wallpaper-preview.jpg" alt="Park">
        </a>
      </div>

      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="https://www.residencestyle.com/wp-content/uploads/2015/02/Outdoor-Interior-Design.jpg">
          <img src="https://www.residencestyle.com/wp-content/uploads/2015/02/Outdoor-Interior-Design.jpg" alt="Park">
        </a>
      </div>

      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="https://wallpaperboat.com/wp-content/uploads/2021/04/17/75393/villa-sea-view-09-920x518.jpg">
          <img src="https://wallpaperboat.com/wp-content/uploads/2021/04/17/75393/villa-sea-view-09-920x518.jpg" alt="Park">
        </a>
      </div>

      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="https://e0.pxfuel.com/wallpapers/586/707/desktop-wallpaper-amazing-modern-home-interior-design-house-interior.jpg">
          <img src="https://e0.pxfuel.com/wallpapers/586/707/desktop-wallpaper-amazing-modern-home-interior-design-house-interior.jpg" alt="Tunnel">
        </a>
      </div>
      <div class="col-sm-12 col-md-8">
        <a class="lightbox" href="https://5.imimg.com/data5/SELLER/Default/2020/9/OD/TS/CD/17031426/b6ac69c4476114c61615735693a5eef6-500x500.jpg">
          <img src="https://5.imimg.com/data5/SELLER/Default/2020/9/OD/TS/CD/17031426/b6ac69c4476114c61615735693a5eef6-500x500.jpg" alt="Traffic">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="https://c1.wallpaperflare.com/preview/82/470/547/entity-lichtraum-exhibition-gallery.jpg">
          <img src="https://c1.wallpaperflare.com/preview/82/470/547/entity-lichtraum-exhibition-gallery.jpg" alt="Coast">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="https://c1.wallpaperflare.com/preview/761/75/628/kitchen-lichtraum-gallery-living-room.jpg">
          <img src="https://c1.wallpaperflare.com/preview/761/75/628/kitchen-lichtraum-gallery-living-room.jpg" alt="Rails">
        </a>
      </div>

    </div>

  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
  baguetteBox.run('.tz-gallery');
</script>
</body>
</html>